{{ $defaultImageWidth := 450.0 }} {{/* make this a float! */}}

{{ $img := resources.Get (delimit (slice "img" .Destination) "/") }}
{{ $startimg := $img | fingerprint}}

{{ if gt $img.Width 750 }}
	{{ $startimg = $img.Resize "500x" | fingerprint }}
{{ end }}

{{ $imageSizes := slice 750 1000 1250 1500 2000 }}

<div class="pic-container">
	<picture class="article-img" >
		<source type="image/webp"
		srcset="
			{{ range $imageSizes }}
				{{ if gt $img.Width . }}
					{{ with $img.Resize (printf "%dx webp q90" .) | fingerprint }}{{ .RelPermalink }} {{ .Width }}w,{{ end }}
				{{ end }}
			{{ end }}
			{{ with $img.Resize (printf "%dx webp q90" $img.Width) | fingerprint }}{{ .RelPermalink }} {{ .Width }}w,{{ end }}
		" />
		<source 
		srcset="

			{{ range $imageSizes }}
				{{ if gt $img.Width . }}
					{{ with $img.Resize (printf "%dx" .) | fingerprint }}{{ .RelPermalink }} {{ .Width }}w,{{ end }}
				{{ end }}
			{{ end }}
			{{ ($img | fingerprint).RelPermalink }} {{ $img.Width }}w
		" >
		<img src="{{ $startimg.RelPermalink }}" decoding="async" loading="lazy" {{ if .Title }}alt="{{ .Title }}"{{ end }} height="{{ math.Round (mul (div $startimg.Height (float $startimg.Width) ) $defaultImageWidth) }}" width="{{ math.Round $defaultImageWidth }}" />
        {{ with .Text }}<figcaption>{{ . | safeHTML }}</figcaption>{{ end }}
	</picture>
</div>