{{ define "main" }}

{{ $orderSectionAlphabetically := (in .Site.Params.sectionsToSortAlphabetically .Section) }}

<h1>{{ .Title }}</h1>
{{ .Content }}
<ul id="postrange" class="{{ if $orderSectionAlphabetically }}alphabetical-ul{{end}}">
  {{ $pagesToPaginate := .Pages }}
  {{ if $orderSectionAlphabetically }}
    {{ $pagesToPaginate := .Data.Pages.ByTitle }}
  {{ end }}
  {{ $paginateAlphabetical := 10 }}
  {{ if .Site.Params.paginateAlphabetical }}{{ $paginateAlphabetical = .Site.Params.paginateAlphabetical }}{{ end }}
  {{ range (.Paginate ($pagesToPaginate.ByTitle) $paginateAlphabetical).Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      {{ if not $orderSectionAlphabetically}}
        <br />
        {{ partial "publishDate.html" . }}
      {{ end }}
    </li>
  {{ end }}
</ul>

{{ partial "pagination.html" . }}

{{ end }}
