{{ define "main" }}

{{ $orderSectionAlphabetically := (in .Site.Params.sectionsToSortAlphabetically .Section) }}

<h1 id="page-title">{{ .Title }}</h1>
{{ .Content }}
<ul id="postrange" class="{{ if $orderSectionAlphabetically }}two-column-ul{{end}}">
  {{ $pagesToPaginate := .Pages }}
  {{ if $orderSectionAlphabetically }}
    {{ $pagesToPaginate = .Pages.ByTitle }}
  {{ end }}

  {{ $paginator := "" }}

  {{ if and $orderSectionAlphabetically .Site.Params.paginateAlphabetical }}
    {{ $paginator = .Paginate $pagesToPaginate .Site.Params.paginateAlphabetical }}
  {{ else }}
    {{ $paginator = .Paginate $pagesToPaginate }}
  {{ end }}

  {{ range $paginator.Pages }}
    {{ if not .Params.nolist }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ if not $orderSectionAlphabetically}}
          <br />
          {{ partial "publishDate.html" . }}
        {{ end }}
      </li>
    {{ end }}
  {{ end }}
</ul>

{{ partial "pagination.html" . }}

{{ end }}
