{{ define "main" }}

<article>
    <header>
        <div class="center-text">
            {{ partial "breadcrumbs.html" . }}
            <h1 id="page-title">{{ .Title }}</h1>
            <div class="metadata">
                {{ partial "translations.html" . }}
                <br />
                {{ if gt (len (.GetTerms "topics")) 0 }}
                  {{ i18n "topics-part-of" }}{{ partial "tags.html" (dict "context" . "Taxonomy" "topics") }}
                {{ end }}
            </div>
        </div>
    </header>
    <hr />
    {{ .Content }}
</article>

<hr />
<div class="center-text metadata">
  <p>{{ partial "metadata.html" . }}</p>
  {{ partial "copyright.html" . }}
</div>
{{ partial "prev-next.html" . }}

{{ end }}
