@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
@function middle($color1, $color2) {
  @return mix($color1, $color2, 50%);
}

$backgroundColor: #22272f;
$textColor: #f2f2f2;
$linkColor: #FF6B6B;
$secondaryColor: #2f3541; // Background of Code
$borderColor: #484848;

@import "font_source_serif_pro.scss";
@import "font_inter.scss";
@import "font_roboto.scss";

hr {
    color: $borderColor;
}

* {
    direction: ltr;
    font-variant-ligatures: no-common-ligatures;

    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

code {
    font-size: smaller;
    font-family: "Source Code Pro", 'Courier New', Courier, monospace;
    text-align: left;
    -webkit-text-size-adjust: none;
}

article > pre {
    padding: 0.5em 0.75em;
    background-color: $secondaryColor;
    overflow: auto;
}

h1 {
    margin: 0.5em 0;
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    text-decoration: underline;
}

#page-title {
    margin-top: 0.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", "Fira Sans", Arial, Helvetica, sans-serif;
    margin-top: 2em;
}

h1 > a,
h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
    color: $textColor;
    text-decoration: none;
}

header > .center-text {
    margin: 3%;
}
header h1 {
    margin: 0;
}

a {
    color: $linkColor;
}
{{ if .Site.Params.markExternalLinks }}
    {{ $externalLinkSVGMin := resources.Get "img/external-link.svg" | resources.ExecuteAsTemplate "img/svg.external-link.svg" . | resources.Minify | resources.Fingerprint "sha512" }}
    .external-link::after {
        content: "";
        display: inline-block;
        height: 0.75em;
        width: 0.75em;
        background-size: 0.75em;
        background-image: url({{ $externalLinkSVGMin.Permalink }});
        background-repeat: no-repeat;
        margin-left: 0.1em;
    }
{{ end }}

body {
    font-family: "Roboto", "Fira Sans", Arial, Helvetica, sans-serif;
    background-color: $secondaryColor;
    color: $textColor;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
}

#wrapper {
    max-width: 75ch;
    width: 90vw;
    margin: 1em auto ;
}

.li-vertical {
    display: block;
}

#postrange {
    list-style-type: none;
    padding-left: 0;
}

.pic-container {
    width: 100%;
    margin: 1.5em auto;
    text-align: center;
}

@media screen and (min-width: 32em) {
    .two-column-ul {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
    }
    .pic-container {
        width: 66%;
    }
}

ul {
    padding-left: 1.5em;
}

.pic-container img {
    max-width: 100%;
    height: auto;
    margin: 0;
}

figcaption {
    font-size: smaller;
    font-style: italic;
    text-align: center;
    margin: 0.5em;
}

#postrange li {
    font-family: "Inter", "Fira Sans", Arial, Helvetica, sans-serif;
    margin-bottom: 0.75em;
}

.hoverNote {
    background-color: $secondaryColor;
    color: $textColor;

    margin: 1em 0;

    position: relative;

    max-width: 100ch;
    width: 100vw;
    left: calc(-50ch + 50%);

    border-width: 0.15em;
    border-style: solid;
    border-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 0%,
        $borderColor 10%,
        $borderColor 90%,
        rgba(0, 0, 0, 0) 100%
      ) 100% 1;

    display: none;
}

@media screen and (max-width: 80ch) {
    .hoverNote {
        width: 98vw;
        left: calc(-49vw + 50%);
    }
}

.hoverNote.active-footnote {
    display: block;
}

.hoverNote > * {
    margin: 2em 7vw;
}

.hoverNote pre {
    background-color: $backgroundColor;
    margin: 2em auto;
    padding: 1vw;
}

.footnote-ref {
    font-weight: bold;
    padding: 0.3em;
}

.metadata {
    font-size: smaller;
}

#translations {
    font-size: smaller;
}

#footer > #translations {
    font-size: inherit;
}

#content {
    margin: 0 auto;
    padding: 1vw 3vw;
    border: 0.15em solid $borderColor;
    background-color: $backgroundColor;
}

#header {
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: bold;
}

#header-nav a {
    margin: 0 5%;
}

.center-text {
    margin: 0 auto;
    text-align: center;
}

.highlight,
article > pre {
    width: fit-content;
    max-width: 80vw;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);

    border: 0.15em solid $borderColor;
    background: $backgroundColor;
}

td > pre {
    margin: 0.25em 0.5em;
}

.footnotes ol::before {
    content: "Footnotes:";
}

blockquote {
    border-left: 0.2em solid $borderColor;
    margin: 0 0 0 1em;
}

table {
    border-collapse: collapse;
    border-style: hidden;
    margin: 0 auto;
}

table td,
table th {
    border: 1px solid;
    text-align: left;
    padding: 0.1em 0.5em;
}

table th {
    border-bottom: 2px solid;
}

tr:nth-child(2n) {
    background-color: tint($backgroundColor, 5%);
}

.margin-center {
    text-align: center;
}

#footer {
    margin-top: 1%;
    font-size: smaller;
}

#copyright {
    text-align: center;
}

#copyright-link {
    text-decoration: none;
}

.cc-copyright-icon {
    width: 1em;
    height: auto;
    font-style: unset;
    margin: 0 auto;
}

#next-prev {
    font-size: smaller;
    margin: 0 auto;
    text-align: center;
}

.next-prev-span {
    margin: 0.5em 1em;
    display: inline-block;
    vertical-align: middle;
    max-width: 15em;
}

@media screen and (min-width: 45em) {
    .pagination {
        width: 66%;
    }
}

.pagination {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0.5em auto 0 auto;
}

.pagination > .page-item {
    display: inline-block;
    flex-grow: 1;
    text-align: center;
    margin: 1em 0.5em 0.5em 0.5em;
}

.page-item a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: smaller;
}

.page-item.active a {
    text-decoration: none;
    font-size: unset;
}

.page-item.disabled a {
    color: grey;
    text-decoration: none;
}

#TOC {
    border: 0.075em solid $borderColor;
    padding: 1em;
    margin: 1em 0;
    overflow: auto;
}

#TableOfContents ul {
    list-style: decimal;
    margin: 0;
}

#TableOfContents ul ul {
    list-style: lower-alpha;
}

#TableOfContents a {
    margin: 0;
}

#TOCHeader > h2 {
    font-family: "Inter", "Fira Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    text-decoration: none;
    display: inline;
}

#TOCHeader {
    display: flex;
    justify-content: space-between;
}

#TOC-button {
    outline: none;
}

nav#TableOfContents {
    display: none;
}

body.lightbox-enabled {
    overflow: hidden;
}

.lightbox-enabled .MathJax {
    display: none;
}

.lightbox .MathJax {
    display: unset;
}

.lightbox {
    position: fixed;
    width: 100vw;
    max-width:100%;
    height: 100vh;
    max-height:100%;
    background-color: #000000;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.lightbox picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-60%);
    padding: 0;
    max-width: 70%;
    max-height: 70%;
}

.lightbox img {
    max-width: 75vw;
    max-height: 75vh;
    height: auto;
    width: auto;
}

.lightbox-close {
    display: none;
}

.lightbox .lightbox-close {
    position: absolute;
    display: block;
    max-width: 5%;
    max-height: 5%;
    right: 0;
    top: 0;
    margin: 2%;
}

.aside {
    display: block;
    background-color: $secondaryColor;
    padding: 0.75em 1em;
    margin: 1% 3%;
    font-style: italic;
}

#breadcrumbnav {
    font-size: smaller;
    margin-bottom: 1em;
    margin-top: 2em;
}

@import "native.scss";
.chroma .hl { background-color: shade(#9d5024, 15%); }
.chroma .lnt { color: shade($textColor, 10%) }
.chroma { color: $textColor; background-color: $backgroundColor; }
.chroma .c1 { color: tint(#6272a4, 33%); }

$hamburger-padding-x           : 0px;
$hamburger-padding-y           : 0px;
$hamburger-layer-width         : 1.5em;
$hamburger-layer-height        : 0.125em;
$hamburger-layer-spacing       : 0.3125em;
$hamburger-layer-color         : $textColor;
$hamburger-hover-opacity       : 1;

$hamburger-types: (
  minus
);

@import "hamburgers/_sass/hamburgers/hamburgers.scss";