{{ $CC := resources.Get "cc-icons-svg/cc.svg" | minify }}
{{ $BY := resources.Get "cc-icons-svg/by.svg" | minify }}
{{ $NC := resources.Get "cc-icons-svg/nc.svg" | minify }}
{{ $NCEU := resources.Get "cc-icons-svg/nc-eu.svg" | minify }}
{{ $NCJP := resources.Get "cc-icons-svg/nc-jp.svg" | minify }}
{{ $ND := resources.Get "cc-icons-svg/nd.svg" | minify }}
{{ $SA := resources.Get "cc-icons-svg/sa.svg" | minify }}

<div id="copyright">
    {{ if .Site.Language.Params.copyrightPage }}<a href="{{ relref . .Site.Language.Params.copyrightPage }}" id="copyright-link">{{ end }}
        {{ if .Site.Params.showCC }}<img src="{{ $CC.Permalink }}" alt="CC" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showBY }}<img src="{{ $BY.Permalink }}" alt="BY" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showNC }}<img src="{{ $NC.Permalink }}" alt="NC" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showNCEU }}<img src="{{ $NCEU.Permalink }}" alt="NC" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showNCJP }}<img src="{{ $NCJP.Permalink }}" alt="NC" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showND }}<img src="{{ $ND.Permalink }}" alt="ND" class="cc-copyright-icon">{{ end }}
        {{ if .Site.Params.showSA }}<img src="{{ $SA.Permalink }}" alt="SA" class="cc-copyright-icon">{{ end }}
    {{ if .Site.Language.Params.copyrightPage }}</a>{{ end }}
</div>