{{ $CC := resources.Get "img/cc-icons/cc.svg" | minify | fingerprint }}
{{ $BY := resources.Get "img/cc-icons/by.svg" | minify | fingerprint }}
{{ $NC := resources.Get "img/cc-icons/nc.svg" | minify | fingerprint }}
{{ $NCEU := resources.Get "img/cc-icons/nc-eu.svg" | minify | fingerprint }}
{{ $NCJP := resources.Get "img/cc-icons/nc-jp.svg" | minify | fingerprint }}
{{ $ND := resources.Get "img/cc-icons/nd.svg" | minify | fingerprint }}
{{ $SA := resources.Get "img/cc-icons/sa.svg" | minify | fingerprint }}

<div id="copyright">
    {{ if .Site.Language.Params.copyrightPage }}<a href="{{ relref . .Site.Language.Params.copyrightPage }}" id="copyright-link" >{{ end }}
        {{ if .Site.Params.showCC }}<img src="{{ $CC.Permalink }}" alt="CC" class="cc-copyright-icon" width="15" height="15" integrity="{{ $CC.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showBY }}<img src="{{ $BY.Permalink }}" alt="BY" class="cc-copyright-icon" width="15" height="15" integrity="{{ $BY.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showNC }}<img src="{{ $NC.Permalink }}" alt="NC" class="cc-copyright-icon" width="15" height="15" integrity="{{ $NC.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showNCEU }}<img src="{{ $NCEU.Permalink }}" alt="NC" class="cc-copyright-icon" width="15" height="15" integrity="{{ $NCEU.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showNCJP }}<img src="{{ $NCJP.Permalink }}" alt="NC" class="cc-copyright-icon" width="15" height="15" integrity="{{ $NCJP.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showND }}<img src="{{ $ND.Permalink }}" alt="ND" class="cc-copyright-icon" width="15" height="15" integrity="{{ $ND.Data.Integrity }}" >{{ end }}
        {{ if .Site.Params.showSA }}<img src="{{ $SA.Permalink }}" alt="SA" class="cc-copyright-icon" width="15" height="15" integrity="{{ $SA.Data.Integrity }}" >{{ end }}
    {{ if .Site.Language.Params.copyrightPage }}</a>{{ end }}
</div>