<div id="footer" class="center-text">
    <p>
        <a href="{{ relref . "/tags/" }}">Tags</a> |
        {{ if .Site.IsMultiLingual }} <a href="/{{ .relref . "/index.xml" }}">RSS</a> {{ else }}<a href="/index.xml">RSS</a> {{ end }}
        {{ if .Site.Language.Params.imprintPage }}| <a href="{{ relref . .Site.Language.Params.imprintPage }}">{{ i18n "imprintlink" }}</a>{{ end }}
        {{ if and (.Site.Language.Params.imprintPage) (.Site.Language.Params.privacyPage) }}|{{ end }}
        {{ if .Site.Language.Params.privacyPage }}<a href="{{ relref . .Site.Language.Params.privacyPage }}">{{ i18n "gdprlink" }}</a>{{ end }}
    </p>
    {{ if and (.Translations) (gt (len .Pages) 0) }}
        <p>
            {{range .Translations }}
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
            {{end}}
        </p>
    {{ end }}
</div>
