{{ $dateTime := .Lastmod.Format "2006-01-02" }}
{{ $dateFormat := .Site.Params.dateFormat | default "2006-01-02" }}
{{ $lastModified := .Lastmod.Format $dateFormat }}

{{ if .PublishDate }}
  {{ i18n "metadata-published" }}: {{ partial "publishDate.html" . }}
{{ end }}
{{ if and .Site.Params.enableGitInfo .GitInfo }}
  {{ if $.Site.Params.giturl }}
    | {{ i18n "metadata-last-update" }}: <a target="_blank" rel="noopener external" href="{{ $.Site.Params.giturl }}/commit/{{ .GitInfo.Hash }}">{{ $lastModified }}</a>
    | <a target="_blank" rel="noopener external" href="{{ $.Site.Params.giturl }}/commits/{{ default "main" .Site.Params.gitbranch }}/content/{{ .Site.Language.Lang }}/{{ .File.Path }}">{{ i18n "metadata-all-updates" }}</a>
  {{ else }}
    | {{ i18n "metadata-last-update" }}: {{ $lastModified }}
  {{ end }}
{{ else if ne $lastModified "0001-01-01" }}
  | {{ i18n "metadata-last-update" }}: {{ $lastModified }}
{{ end }}