{{ $img := resources.Get (delimit (slice "img" (.Get "src")) "/") }}

{{ $startimg := $img}}

{{ if gt $img.Width 750 }}
	{{ $startimg = $img.Resize "500x" }}
{{ end }}

<figure class="article-fig">
	<img class="article-img" src="{{ $startimg.RelPermalink }}" alt="{{ if .Get "alt"}}{{ .Get "alt" }}{{ else }}{{ .Get "caption" | html }}{{ end }}"
	srcset="{{ if gt $img.Width 750 }}{{ with $img.Resize "750x" }}{{ .RelPermalink }} 750w,{{ end }}{{ end }}
	{{ if gt $img.Width 1000 }}{{ with $img.Resize "1000x" }}{{ .RelPermalink }} 1000w,{{ end }}{{ end }}
	{{ if gt $img.Width 1250 }}{{ with $img.Resize "1250x" }}{{ .RelPermalink }} 1250w,{{ end }}{{ end }}
	{{ if gt $img.Width 1500 }}{{ with $img.Resize "1500x" }}{{ .RelPermalink }} 1500w,{{ end }}{{ end }}
	{{ if gt $img.Width 2000 }}{{ with $img.Resize "2000x" }}{{ .RelPermalink }} 2000w,{{ end }}{{ end }}
	{{ $img.RelPermalink }} {{ $img.Width }}w"/>
	<figcaption>{{ (.Get "caption") | safeHTML }}</figcaption>
</figure>